/* 文章列表＆文章内页 */

.pn { width: 70px; height: 32px; line-height: 32px; text-align: center; font-size: 14px; letter-spacing: 1px}
.ct2 .mn { float: left; width: 720px; padding: 15px 0 0 0; border: 1px solid #E6E6E6; box-shadow: 0 0 4px #ECECEC; background: #FFFFFF}
.ct2 .sd { float: right; width: 260px; padding: 0 20px; border: 1px solid #E6E6E6; box-shadow: 0 0 4px #ECECEC; background: #FFFFFF}
.pren { padding: 0 0 20px 0 !important; font-size: 13px}
.pren .z { width: 330px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden}
.pren .y { max-width: 330px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden}

.pgs { margin: 0 0 30px 0; text-align: center}
.pg { float: none; display: inline-block}
.ie7 .pg { margin: 0 0 0 16px}
.pg strong { font-weight: 400 !important}


.bm_h{ background:none;border-bottom: 3px solid #F4F4F4;height: 36px;line-height: 36px;}
.bm_h h2{float: left;font-size: 16px;font-weight: 700;}

.bm{ border:none;}
.bm_c{ padding:0;}

.tit01 .rss {margin-right: 10px;margin-top: 5px;padding-left:30px;background: url(rss.png) no-repeat 0 45%;}
.tit01 .add{margin-right: 10px;margin-top: 5px;padding-left:30px;background: url(add.png) no-repeat 0 45%;}
.tit01 h1, .tit01 h2, .tit01 h3, .tit01 h4 { color: #333333}

.list_new {}
.news_list { margin-bottom: 25px; padding-bottom: 25px; border-bottom:1px solid #EEEEEE}
.news_list h2 { font-size: 18px; font-weight: 400; margin-bottom: 10px; line-height: 25px}
.news_list h2 a { color: #333333}
.news_list h2 a:hover { color: #007ED9}
.news_list p { margin-top: 10px; font-size: 12px; line-height: 22px; color: #777777}
.news_list .new_info { color: #656565;margin-top: 8px}
.new_edt a { color: {ALLCOL}}
.news_list .new_pic { width: 265px; height: 170px; overflow:hidden;float: left;margin-right: 20px;display: table-cell;vertical-align: middle;text-align: center;}
.new_pic img { min-width: 265px; min-height: 170px}
.news_list .new_body { font-size: 14px; color: #999999; line-height: 26px}
.news_list .new_body .meta a { font-size: 13px}	

.list_box { margin-bottom: 15px}

.tit_top { width: 1050px; height: 50px; margin: 12px 0 9px 0; overflow: hidden}
.tit_top h3 { float: left; font-size: 26px; color: #666666}
.tit_top .post { display: block; width: 60px; height: 25px; line-height: 25px; padding: 0 0 0 30px; margin: 12px 0 0 0; color: #666666; font-size: 13px; background: url(post.png) no-repeat 0 1px}
.album-subtitle { font-size: 16px; margin: 10px 0 0 24px; padding-left: 24px; display: inline-block; height: 28px; line-height: 28px; color: #999999; background: url(block_l.png) no-repeat 0 0}
.album-subtitle span { display: block; padding-right: 24px; background: url(block_r.png) no-repeat right 0}

.portal_sort { margin-top: 10px}
.portal_sort ul {}
.portal_sort li { float: left; margin: 0 10px 5px 0}
.portal_sort li a { text-decoration: none; padding: 2px 12px; display: block; font-size: 14px; color: #FFFFFF; background: #555555}
.portal_sort li a:hover { color: #FFFFFF; background: #555555}



.hbody .bd ul{ overflow:hidden;}
.hbody .bd li{width: 300px;height:30px;line-height:30px;overflow: hidden; float:left; font-size:15px;}
.hbody .bd li .turn {margin-right:12px;color:#acacac;font-style: italic;}
.hbody .bd li .turn.top{color:{ALLCOL}} 
.hbody .bd li a{ font-size:15px;}


.sbody{ }
.sbody .bd li { width: 250px; float: left; overflow:hidden;padding-bottom:10px; margin-bottom:10px;border-bottom: 1px solid #EEEEEE}
.sbody .bd h3 { padding-bottom: 8px}
.sbody .bd h3 a { font-size: 15px; color: #444444}
.sbody .bd .pic { width: 90px; float: left; margin-right: 10px}
.sbody .bd .pic img { width: 90px}
.sbody .bd p { text-indent:20px; line-height:24px;color: #8C8C8C}
.sbody .bd p a { color:{HOVERCOL}}




.list_focuss{width:300px;overflow:hidden;}
.list_focuss .bd{overflow:hidden;}
.list_focuss .bd img{ width:250px; height:200px;}
.list_focuss h3{ height: 40px; line-height:40px;overflow: hidden; font-size:16px; text-align:center;}

.list_focuss .hd { width:138px;height: 33px;overflow: hidden; margin:0 auto;}
.list_focuss .hd ul{padding-top:9px; overflow:hidden; float:left;}
.list_focuss .hd ul li, .list_focuss .hd ul li.on, .list_focuss .hd .next, .list_focuss .hd .prev{vertical-align: middle;overflow: hidden; display: inline-block;cursor: pointer;float:left;}
.list_focuss .hd .prev{ width:33px; height:33px;background: url(point_z.png) 0 0 no-repeat;}
.list_focuss .hd a.prev:hover{ background: url(point_zon.png) 0 0 no-repeat;}
.list_focuss .hd .next{ width:33px; height:33px; background: url(point_r.png) 0 0 no-repeat;}
.list_focuss .hd a.next:hover{  background: url(point_ron.png) 0 0 no-repeat;}
.list_focuss .hd ul li{ background: url(point.png) 0 0 no-repeat;width: 18px;height: 18px;cursor: pointer;font-size: 0;line-height: 0; }
.list_focuss .hd ul li.on { background: url(point_on.png) 0 0 no-repeat;}

.special .spe_list {overflow:hidden;} 
.special .spe_list li{width: 250px;height: 26px;line-height: 26px;padding-left: 10px;float: left;background: url(bgtit.png) no-repeat -493px -57px;overflow: hidden;}


/* 文章内页 */

#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d { margin-left: 0; margin-right: 0}

.pagetag { padding: 20px 0}
.pagetag ul li { float: left;margin-right: 5px;margin-bottom: 6px}
.pagetag ul li a { float: left;padding: 4px 12px;color: #FFF;font-family: "NSimSun";font-size: 12px;background: #A8A8A8}
.pagetag ul li a { transition: all 0.3s ease-out 0s}
.pagetag ul li a:hover { text-decoration: none}

.vw .hm { text-align: left; padding: 0 0 15px 0 !important; border-bottom: 1px dotted #D8D8D8 !important}
.vw .ph { padding: 5px 0  20px 0; font-size: 25px; color: #1A1A1A}
.h .xg1, .h .xg1 a { color: #888888 !important}
.vw .h { border: 0; padding-bottom: 0}
.vw .h p { width: 560px; float:left; height:22px; line-height:22px;}
.vw .s{border: 1px solid #fafafa;background:#f1f6f8; padding:10px; margin:10px auto;}
.vw .s strong { color: {ALLCOL}}
.vw .s { color: #666666}
.vw .d { color: #444444; margin:0 0 5px 0}
.vw .d img { max-width: 100%; margin-bottom: 12px}
.forum_hd { padding-bottom: 10px}

.msg_caption { float: right; width: 60px}
.msg_caption span { display: block;width: 20px;height: 22px;float: right;background: url(msg_caption.png) 0 0 no-repeat; text-indent:-9999px;cursor:pointer;}
.msg_caption .bigger { background-position: -85px 4px;}
.msg_caption .bigger:hover { background-position: -28px 4px;}
.msg_caption .smaller { background-position: 1px 4px;}
.msg_caption .smaller:hover { background-position: -56px 4px;}

#nv_portal .vw .pren em {width: 48%;display: block;height: 24px;line-height: 24px;overflow: hidden;}
#nv_portal .vw .pren em a {color: {ALLCOL};}
#nv_portal .vw .pren em.y {text-align: right;}
#related_article .bm_c{ padding:15px 0;}
#related_article .xl2 li{ height:26px; line-height:26px; font-size:14px; margin:0;}
.mls .avt{ width:50px; margin-right:10px;}
.mls .avt img{width: 50px;height: 50px; padding:0;vertical-align: top;border-radius: 5px; border:none;}

/* 表态动作 */

.atd .num em { font-size: 16px}
.atdc div { display: none}

/* add */

.vw .o { border: 0}
.oshr { -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; border:1px solid #CDCDCD}

#click_div { display: none}
.infos { display:none;position:fixed;left: 50%; top:20%;margin-left: -620px; width: 48px; overflow:hidden;border:1px solid #ececec;z-index:1001;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.ie7 .infos { display: none}
.infos .like { display: none !important}
.infos .like,.infos .comment,.infos .collect,.infos .recommend,.infos .share{padding:6px 0;display:block;height:36px;border-bottom:1px solid #e9e9e9;border-top:1px solid #fff;padding-left:48px;width:45px;background-color: #FFFFFF;background-image:url(infos.png);background-repeat:no-repeat;}
.infos span{display:block;color:#888; text-align:center;}
.infos .like{border-top-width:0;-webkit-border-radius:3px 0 0 0;border-radius:3px 0 0 0;background-position:7px 10px;}
.infos .recommend{background-position:7px -377px;}
.infos .comment{background-position:7px -53px;}
.infos .collect{background-position:7px -507px;}
.infos .share{background-position:7px -126px;}

.infos.hover{width:93px;border:none; margin-left: -663px}
.infos.hover a:hover{text-decoration:none;}
.infos.hover a:hover span{color:#225588;}
.infos.hover .like:hover{background-position:7px -194px;}
.infos.hover .recommend:hover{background-position:7px -442px;}
.infos.hover .comment:hover{background-position:7px -250px;}
.infos.hover .collect:hover{background-position:7px -572px;}
.infos.hover .share:hover{background-position:7px -313px;}

/* BAIDU */
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{ background-position:1050px 1050px;}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{ padding-left:0!important; margin:0!important; width:45px!important; height:48px; display:block;}
.bdshare_popup_box{ margin-left:-25px; margin-top:15px;}

/* 评论 */

#comment .portal_tit{ border-bottom:none; margin-bottom:0;}
#comment .portal_tit em{ margin-left:20px; float:right;}
#comment_ul{ padding-top:5px;}
#comment_ul li{ border-bottom: 1px solid #eee; margin-bottom:15px;padding:0 0 10px 62px;}
#comment_ul .commont_floor{float: right;padding-left: 6px;margin-top: 4px;font-size: 14px;font-family: Arial;font-weight: bold;color: #444;}

#comment_ul li dd{ font-size:14px;}
#comment_ul li p{ color:#888;}
#comment_ul li p a{ margin-left:10px;color:#888;}
#comment_ul .mbm{ position:relative;}
#comment_ul .portrait{ position:absolute; left:-62px; top:0;}
#comment_ul .portrait img { width:50px;height:50px;max-width: 100%;vertical-align: top;border-radius: 50%;_width: 44px; _height:44px;}
#comment_ul .username { margin-right: 10px; color: #555555; font-size: 14px; font-weight: bold}
#comment_ul .xg1, #comment_ul .xg1 a {color:#888!important;}

.tedt { border:none; width: 660px}
.ie7 .tedt { width: 638px}
.tedt .pt { width: 658px; min-height: 100px; padding: 8px 10px!important; line-height: 1.6; border: 1px solid #D9D9D9; background-color: #F7F7F7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: auto;vertical-align: middle;resize: vertical; color: #999999}
.ie7 .tedt .pt { width: 636px}
.tedt .pt.bgchange { background:#FFF;background-color: #FFFFFF; -webkit-box-shadow: 1px 1px 2px #E6E6E6;-moz-box-shadow: 1px 1px 2px #E6E6E6;box-shadow: 1px 1px 2px #e6e6e6;color: #BBBBBB}
.ptn { padding-top: 15px !important}
