.win8mi_wp { width: 1180px; margin: 0 auto; padding: 0; background: none}
.nav_box { width: 100%; box-shadow: 0 2px 4px #DDDDDD; background: #F5F5F5}
.px { color: #999999; padding-left: 10px !important; background: none}
.bars { box-shadow: none}
.hdr { width: 100%}
.foots { width: 100%}
.pgs { padding: 0; margin-bottom: 5px}
.pg a, .pg strong, .pgb a, .pg label, .pg a.nxt { padding: 3px 8px; margin: 0 4px; line-height: 24px; color: #999999; font-size: 12px; background: none}
.pg strong { color: #FFFFFF; border-radius: 2px; background: #0196E3}
.pg a:hover, .pgb a:hover, .pg a.nxt:hover { color: #FFFFFF; border-radius: 2px; background: #0196E3}
.pg a.prev:hover { border-radius: 2px; background: url(arw_l.gif) no-repeat 50% 50% #0196E3}

.album-list {
    margin-top: -20px;
    margin-left: -19px;
}
.album-list li {
    float: left;
    margin-left: 19px;
    margin-top: 20px;
}
.album-list li {
    width: 380px;
    height: 280px;
    background-color: #FFF;
}
.pic_box { width: 380px; height: 198px; overflow: hidden}
.pic_box img:hover { opacity: 0.8}
.album-text { padding: 10px 15px}
.album-text h3 { height: 40px; line-height: 20px; margin: 0; overflow: hidden}
.album-text h3 a {
    color: #333;
    font-size: 16px;
	font-weight: 600;
}
.album-text .time {
    color: #999999;
    font-size: 12px;
    margin-top: 4px;
}
