/* ----------------------------------

vk_mobile_touch_plus.css  file for Discuz! X3 Mobile touch


【未来科技】 
http://www.wekei.cn
专注于 Discuz模板开发设计等服务。
详情请 查看 www.wekei.cn
或咨询 客服 QQ 1508085698 1595675868

Author: Veikei
Created Time: 2013-08-25
Modified Time: 2013-10-01
Update Time free: 2014-06-20

---------------------------------- */
html { overflow-x: hidden  !important; }
body { background:#f8f8f8;}



/* common */
.vk_left { float: left !important; }
.vk_right { float: right !important; }
.vk_margin_top_0 { margin-top: 0px !important; }
.vk_padding_top_0 { padding-top: 0px !important; }
.vk_color_fff { color: #fff; }
.vk_color_fff a { color: #fff; }
a.vk_color_fff { color: #fff !important; }
.vk_color_fff li a { color: #fff; }
.vk_color_333 { color: #333; }
.vk_color_333 a { color: #333; }
.vk_color_333 li a { color: #333; }
.vk_border_none { border: none !important; }
.vk_border_none li { border: none !important; }
.vk_border_none a { border: none !important; }
.vk_bg_none { background: none !important; }
.vk_shadow_none { box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; }
.vk_shadow_3 { -moz-box-shadow: 2px 2px 3px #999; -webkit-box-shadow: 2px 2px 3px #999; box-shadow: 2px 2px 3px #999; }
.vk_page { position: relative; }



#header a.right, .header a.right { left: auto; right: 10px; }

#header { position:relative;  float:left; clear:both; width: 100%; height:44px; overflow:hidden; line-height:46px;  z-index: 99;   background:url(images/vk_header.png) repeat-x;  background-size: 640px 46px;   opacity:.96; filter:alpha(opacity=96);  border: none ;  margin-left: 0px; top: 0; left: 0%; padding-top:3px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }

/* free patch */
.header .nav {float:left; clear:both; width: 100%; height:30px; line-height:30px;}


.vk_header .vk_logo { display: block; width: 130px; height: 40px; margin:0 auto;  }

.user_fun li { float: right; padding: 5px 5px 10px 5px; }
.user_fun li a { display: block; width: 28px; height: 28px; line-height: 2000px; overflow: hidden; }
.user_fun a.icon_userinfo { background: url(images/vk_fun_icon_user.png) no-repeat; background-size: 28px 28px; }
.user_fun a.icon_threadlist { background: url(images/vk_fun_icon_forum.png) no-repeat; background-size: 28px 28px; }
.user_fun a.icon_search { background: url(images/vk_fun_icon_search.png) no-repeat; background-size: 28px 28px; }
.user_fun a.icon_hotthread { background: url(images/vk_fun_icon_hot.png) no-repeat; background-size: 28px 28px; }

.threadlist { position:relative; }



/* forum */

	.wp {}
	.wm { margin:0 10px; }
	.bm { margin-bottom: 10px; }
	.bm_c { padding: 0 10px; border-radius: 0px 0px 5px 5px; }

	.bm_h .o { float: right; width: 31px; }
		.bm_h .o img { float: right; cursor: pointer; padding-top:5px; }
	.bm_h .i { padding-left: 10px; }
	.bm_h .pn { margin-top: 4px; }
	.bm_h { height: 36px; background: url(images/titlebg.png) repeat-x left bottom; background-size: 100% 36px; line-height: 36px; white-space: nowrap; overflow: hidden;  border-radius: 5px  5px 0 0 ; border:1px solid #eee; }
	.bm_h h2 { height: 36px; background: url(images/titlebg.png) no-repeat left top; border-radius: 5px  5px 0 0 ; }
	.bm_h:hover {/* background: url(images/titlebg.png) repeat-x left -40px;*/ }
	.bm_h h2 a { display:block; margin:0 31px 0 10px; padding-left:0px; font-size:18px; line-height:36px; font-weight:bold; color:#333/*fff*/; }

	.sub_forum {  border-radius: 5px  5px 5px 5px;}
