@charset "utf-8";
/* CSS Document */
.index_tab{width:100%; margin-top:20px; float:left; }
.index_tabs{border-bottom:solid #fbfbfb 1px; border-top:solid #fff 1px;}
.index_tabs li{float:left; width:33%; padding:0; line-height:38px; height:38px; text-align:center; border-bottom:solid #fbfbfb 1px; border-top:solid #fbfbfb 1px; }
.index_tabs li a{display:block; height:100%; width:100%; border-bottom:solid #d9d8d8 1px; font-size:16px;}
.index_tabsk{background:#fff; float:left; width:100%;}
.index_tab_d{background:#EFEFEF;}
.index_tabk{border-top:solid #fbfbfb 1px; margin-bottom:20px;  float:left;}
.index_tabk li{width:100%; border-bottom:solid #d9d8d8 1px; float:left;}
.index_tabk li a{display:block; width:100%; float:left;}
.index_tabk li a img{height:80px; width:100px; overflow:hidden; margin:10px; float:left;}
.index_tabk li a h4{ font-size:16px; font-weight:600; margin:10px 10px 5px 0; color:#1f1f1f;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; height:25px; height:25px;}
.index_tabk li a p{margin-right:10px; margin-bottom:10px; font-size:12px; color:#827f7f; height:50px; line-height:25px; overflow:hidden;}
.index_tabb{border-top:solid #fbfbfb 1px; margin-bottom:20px;  float:left;}
.index_tabb li{width:100%; border-bottom:solid #d9d8d8 1px; float:left;}
.index_tabb li a{display:block;  width:100%; float:left;}
.index_tabb li a img{height:60px; width:60px; overflow:hidden; margin:10px; float:left;}
.index_tabb li a h4{ font-size:16px; font-weight:600; margin:5px 10px 5px 0;color:#1f1f1f;   }
.index_tabb li a p{margin-right:10px; margin-bottom:5px; font-size:12px; color:#827f7f;}

.index_taba{border-top:solid #fbfbfb 1px; margin-bottom:20px;  float:left; width:100%;}
.index_taba li{width:100%; border-bottom:solid #d9d8d8 1px; float:left;}
.index_taba li a{display:block;  width:100%; float:left;}
.index_taba li a h4{ font-size:16px; font-weight:600; margin:5px 10px 5px 10px; color:#1f1f1f; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.index_taba li a p{margin:0 10px 5px 10px; font-size:12px; color:#827f7f;}

.index_forumlsit h2{height: 36px;overflow: hidden;padding: 0 10px;margin: 0px 0 3px 0;line-height: 36px;color: #333;font-size: 18px;font-weight: bold; border-top:solid 2px #29a9ed; background:#fff;}
.index_forumlsit ul{padding: 0px;width: 100%;margin: 0px 0 5px 0;overflow: hidden; background:#fff;}
.index_forumlsit ul li{width: 24.925%;padding-top: 5px;display: table-cell;vertical-align: middle;text-align: center;float: left;}
.index_forumlsit ul li img{middle;width: 40px;height: 40px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.index_forumlsit ul li h4{margin: 0 auto;width: 50px;height: 22px;line-height: 20px;overflow: hidden;text-align: center;}