<li>
	<label class="control-lable">选项<%=i%></label>
    <input type="checkbox" data-def="option_necessory" />必须
    <input type="checkbox" data-def="option_text" />输入额外内容？
	<input class="form-control" type="text" data-def="option" >
</li>