<input type="hidden" value="matrix" data-def="type">
<div class="form-horizontal">
	<label for="title" class="control-label" style="margin-top:0;">请输入题目标题</label>
	<textarea name="title" class="form-control" data-def="title"><%=question.title%></textarea>
	<div class="row" style="margin-top:20px;">
		<div class="col-lg-6 pull-left">
			<ul class="list-group" id="editor_row">
				<% for(var r=0, rl = question.rows.length; r<rl; r++) { %>
					<li class="list-group-item"><input class="form-control" type="text" value="<%= question.rows[r].title %>" data-def="option_row"/></li>
				<% } %>
			</ul>
			<button data-action="add_row" class="btn btn-default pull-rightr">增加行</button>
		</div>
		<div class="col-lg-6 pull-right">
		  <ul class="list-group" id="editor_column">
		    <% for(var column = 0,cl = question.columns.length; column<cl; column++) { %>
		    	<li class="list-group-item"><input class="form-control" type="text" value="<%= question.columns[column].title %>" data-def="option_column"/></li>
		    <% } %>
		  </ul>			
		  <button data-action="add_column" class="btn btn-default">增加列</button>
		</div>

	</div>	
</div>
<% if(config.brandnew) {%>
	<button class="btn btn-success add" data-dismiss="modal" data-action="add-question">添加</button>
<% } else { %>
    <button class="btn btn-primary update" data-dismiss="modal" data-action="update-<%=config.index%>">修改</button>
<% } %>

